name: Building
on: [push, pull_request]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: "^1.15.5"

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Build
        run: go build main.go
