on:
  push:
    branches:
      - master

name: Generate docs

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: write  # for Git to git push
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Set up Go
        uses: actions/setup-go@7b8cf10d4e4a01d4992d18a89f4d7dc5a3e6d6f4 # v4.3.0
        with:
          go-version-file: "go.mod"
        id: go

      - name: Generate docs
        run: go run ./tools/docs/main.go

      - name: Commit changes
        continue-on-error: true
        run: |
          git config user.email "johan@lindell.me"
          git config user.name "Automated docs generator"
          git checkout .
          git checkout docs --
          mv tmp-docs/* ./
          git add *
          git commit -m "Updated docs"

      - name: Push changes
        if: ${{ success() }}
        run: |
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
          git push
