on:
  push:
    branches:
      - master

name: Generate docs

jobs:
  build:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: "^1.15.5"
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Generate docs
        run: go run ./tools/docs/main.go

      - name: Commit changes
        continue-on-error: true
        run: |
          git config user.email "johan@lindell.me"
          git config user.name "Automated docs generator"
          git checkout .
          git checkout docs --
          mv tmp-docs/* ./
          git add *
          git commit -m "Updated docs"

      - name: Push changes
        if: ${{ success() }}
        run: |
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
          git push
