name: Fuzzing
on: [push, pull_request]
permissions:
  contents: read

jobs:
  build:
    name: Fuzzing
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Set up Go
        uses: actions/setup-go@7b8cf10d4e4a01d4992d18a89f4d7dc5a3e6d6f4 # v4.3.0
        with:
          go-version-file: "go.mod"

      - name: Fuzz
        run: go test ./tests -fuzz . -fuzztime=2m
