name: Check GoReleaser config
on:
  push:
    branches:
      - 'release-please--**'

jobs:
  verify-goreleaser:
    name: Check GoReleaser config
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v4

      - name: Check GoReleaser config
        uses: goreleaser/goreleaser-action@v4
        with:
          version: latest
          args: check
