name: reviewdog
on: [pull_request]
permissions:
  contents: read

jobs:
  golangci-lint:
    permissions:
      checks: write  # for reviewdog/action-golangci-lint to report issues using checks
      contents: read  # for actions/checkout to fetch code
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@f9bba13753278f6a73b27a56a3ffb1bfda90ed71 # v2.8.0
        with:
          go_version_file: "go.mod"
          level: warning
