on:
  push:
    branches:
      - master

name: Generate readme

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: write  # for Git to git push
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Set up Go
        uses: actions/setup-go@7b8cf10d4e4a01d4992d18a89f4d7dc5a3e6d6f4 # v4.3.0
        with:
          go-version-file: "go.mod"
        id: go

      - name: Generate readme
        run: go run ./tools/readme-docs/main.go

      - name: Commit changes
        continue-on-error: true
        run: |
          git checkout master
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          git add README.md
          COAUTHOR=`git log -1 --pretty=format:'Co-authored-by: %an <%ae>'`
          git commit -m "docs: updated readme" -m "$COAUTHOR"

      - name: Push changes
        if: ${{ success() }}
        run: |
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
          git push
