---
name: Test install.sh

on:
  pull_request:
    paths:
      - .github/workflows/test-install.yaml
      - install.sh

permissions:
  contents: read

jobs:
  test-install-sh:
    name: Test install.sh
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Install multi-gitter
        env:
          BINDIR: ${{ github.workspace }}/bin
          FULL_NAME: ${{ github.event.pull_request.head.repo.full_name }}
          REF: ${{ github.head_ref }}
        run: |
          curl -s https://raw.githubusercontent.com/$FULL_NAME/$REF/install.sh | sh -s -- -d
          echo "$BINDIR" >> $GITHUB_PATH
        shell: sh
      - name: Print version
        run: multi-gitter version
        shell: sh
